.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color var(--transition-slow),
    color var(--transition-slow);
}

.content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
