.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-primary);
  position: relative;
}

.path {
  font-size: 11px;
  color: var(--text-tertiary);
  /* white-space: nowrap; */
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsTitle {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  line-height: 1.45;
  margin: 2px 0;
  align-self: center;
}

.meta {
  font-size: 12px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  line-height: 1.4;
}

.digitalObjects {
  font-size: 11px;
  color: var(--text-tertiary);
}

.titleRow {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 8px;
}

.actions {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.arrow {
  background: var(--bg-secondary);
  border: 1px hidden var(--border-secondary);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 12px;
  font-size: 14px;
  color: var(--text-secondary);
}

.arrow:hover {
  background: var(--bg-hover);
  color: var(--text-primary);
}
